@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Ubuntu+Mono:400,700&display=swap');

$heading-font: 'Major Mono Display', mono;
$main-font: 'Ubuntu Mono', mono;

$punctuation-color:rgba(16, 73, 179);
$number-color: rgb(209, 52, 52);
$cta-color: $punctuation-color;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $main-font;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    height: -webkit-fill-available;

    .card-head {
        line-height: 3em;

        h1 {
            font-family: $heading-font;
            text-align: center;
        }

        .area-result {
            padding: 1em;

            .result {
                font-family: $main-font;
                font-size: 2em;
                word-wrap: break-word;
                border-bottom: 1px solid black;

                .number {
                    color: $number-color;
                }

                .punctuation {
                    color: $punctuation-color;
                }
            }

            .copytext {
                // We don't want to see this,
                // but we do want to interact with it
                position: absolute;
                top: -9999px;
                left: -9999px;
            }
        }
    }

    .card-body {
        font-size: 1.4em;

        .area-options {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 1em;

            .checkbox {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                padding: 0.2em 0.2em 0.2em 0;

                input[type=checkbox] {
                    width: 20px;
                    height: 20px;
                }

                label {
                    padding-left: .5em;
                }
            }
        }

        .area-length {
            padding: 1em;

            input[type=range] {
                appearance: none;
                width: 100%;
                background-color: #eee;
                cursor: pointer;

                margin: .8em 0;
                transition: opacity .2s ease-in-out;

                &::-webkit-slider-thumb {
                    appearance: none;
                    width: 25px;
                    height: 25px;
                    background-color: $cta-color;
                    cursor: col-resize;
                }

                &::-moz-range-thumb {
                    appearance: none;
                    width: 25px;
                    height: 25px;
                    background-color: $cta-color;
                    cursor: col-resize;
                }

                &:hover {
                    opacity: 1;
                }
            }
        }

        .area-buttons {
            display: flex;
            justify-content: space-between;
            padding: 0.5em;

            button {
                appearance: none;
                font-size: 0.8em;
                padding: 1em;
                width: 49%;
                border: none;
                border-radius: 4px;

                color: white;
                background: $cta-color;
            }
        }
    }
}

.toast {
    position: absolute;
    z-index: 101;
    top: 25vh;
    left: 0;
    right: 0;
    margin: 10vw;
    
    color: white;
    background-color: #333;
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
    box-shadow: 0 0 5px black;

    transform: translateX(-101vw);

    &.show {
        animation: slideIn 2.5s 1s 1 ease forwards,
                   slideIn 2.5s 4.5s 1 ease reverse;
    }
}

@keyframes slideIn {
    from { transform: translateX(-101vw); }
    to { transform: translateX(0vw); }
}