@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display|Ubuntu+Mono:400,700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Ubuntu Mono", mono;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  height: -webkit-fill-available;
}

.card .card-head {
  line-height: 3em;
}

.card .card-head h1 {
  font-family: "Major Mono Display", mono;
  text-align: center;
}

.card .card-head .area-result {
  padding: 1em;
}

.card .card-head .area-result .result {
  font-family: "Ubuntu Mono", mono;
  font-size: 2em;
  word-wrap: break-word;
  border-bottom: 1px solid black;
}

.card .card-head .area-result .result .number {
  color: #d13434;
}

.card .card-head .area-result .result .punctuation {
  color: #1049b3;
}

.card .card-head .area-result .copytext {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.card .card-body {
  font-size: 1.4em;
}

.card .card-body .area-options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 1em;
}

.card .card-body .area-options .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0.2em 0.2em 0.2em 0;
}

.card .card-body .area-options .checkbox input[type=checkbox] {
  width: 20px;
  height: 20px;
}

.card .card-body .area-options .checkbox label {
  padding-left: .5em;
}

.card .card-body .area-length {
  padding: 1em;
}

.card .card-body .area-length input[type=number] {
  border: none;
  border-radius: 4px;
  font-size: 0.8em;
  text-align: center;
  padding: 0.4em;
  background-color: #eee;
}

.card .card-body .area-length input[type=range] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  background-color: #eee;
  cursor: pointer;
  margin: .8em 0;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.card .card-body .area-length input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 25px;
  height: 25px;
  background-color: #1049b3;
  cursor: col-resize;
}

.card .card-body .area-length input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
       appearance: none;
  width: 25px;
  height: 25px;
  background-color: #1049b3;
  cursor: col-resize;
}

.card .card-body .area-length input[type=range]:hover {
  opacity: 1;
}

.card .card-body .area-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5em;
}

.card .card-body .area-buttons button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 0.8em;
  padding: 1em;
  width: 49%;
  border: none;
  border-radius: 4px;
  color: white;
  background: #1049b3;
}

.toast {
  position: absolute;
  z-index: 101;
  top: 25vh;
  left: 0;
  right: 0;
  margin: 10vw;
  color: white;
  background-color: #333;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
  -webkit-transform: translateX(-101vw);
          transform: translateX(-101vw);
}

.toast.show {
  animation: slideIn 2.5s 1s 1 ease forwards, slideIn 2.5s 4.5s 1 ease reverse;
}

@-webkit-keyframes slideIn {
  from {
    -webkit-transform: translateX(-101vw);
            transform: translateX(-101vw);
  }
  to {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
}

@keyframes slideIn {
  from {
    -webkit-transform: translateX(-101vw);
            transform: translateX(-101vw);
  }
  to {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
}
/*# sourceMappingURL=main.css.map */